<header>
    <ul class="nav nav-pills">
        <li role="presentation"><a href="#">Kochrezepte</a></li>
        <li role="presentation"><a href="#">Einkaufliste</a></li>
        <li>
            <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="false" aria-expanded="true">
                        Dropdown trigger
                </button>
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                    <li><a href="" class="dropdown-item">Speichern</a></li>
                    <li><a href="" class="dropdown-item">Laden</a>
                    </li>
                </ul>

            </div>
        </li>
    </ul>
</header>
<hr>