<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-success" (click)="onNewRecipe()"> New Recept </button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-12">
        <ul class="list-group">
            <!-- <app-recipe-item *ngFor="let recipe of recipes" [recipeItem]="recipe" (recipeOnClick)="onClick($event)"></app-recipe-item> -->
            <app-recipe-item *ngFor="let recipe of recipes; let i = index" [recipeItem]="recipe" [id]="i"></app-recipe-item>
        </ul>
    </div>
</div>